.body {
  background: #e7e7e7;
}

.navigation {
  min-height: 70px;
  width: 1343px;
  background: #ffffff;
  border-bottom: 4px solid #d1d1d1;
  margin: 0 auto;
}
.navigation h1 {
  padding: 16px 2px 16px 0px;
  font-size: 32px;
  margin-left: 18px;
}

.main-container {
  display: flex;
  min-height: 636px;
  width: 1343px;
  margin: 0 auto;
}

.sidebar {
  width: 16%;
  background-image: url(https://w.forfun.com/fetch/ac/ac5eca719e0ad54b04b3bae6b6a29f51.jpeg?h=600&r=0.5);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.sidebar h1, .sidebar h2 {
  position: relative;
  color: azure;
  z-index: 2;
  color: azure;
  font-weight: bold;
}
.sidebar h2 {
  margin: 30px 2px 18px 20px;
  font-size: 16px;
}

.main-block {
  width: 84%;
  background: #ffffff;
}

.main-info {
  height: 78%;
}

.motto {
  height: 22%;
  background: #FFDEAD;
}
.motto h1, .motto h2, .motto h3 {
  font-size: 28px;
  text-align: center;
}
.motto h1 {
  padding: 24px 0px 0px 0px;
}
.motto h2 {
  padding: 4px 0px 0px 0px;
}
.motto h3 {
  padding: 4px 0px 0px 0px;
}

.catalog {
  display: flex;
  min-height: 10px;
  width: 1343px;
  margin: 0 auto;
}

.indentation {
  width: 16%;
}

.product_categories {
  width: 84%;
}

.novelties_of_books {
  min-height: 470px;
  background: #ffffff;
  border-top: 4px solid #d1d1d1;
  border-bottom: 4px solid #d1d1d1;
}
.novelties_of_books::after {
  content: "";
  display: block;
  clear: both;
}
.novelties_of_books .cart {
  width: 210px;
  height: 390px;
  margin: 20px;
  float: left;
  text-align: center;
  padding: 20px;
  background: #fafafa;
}
.novelties_of_books .cart .name {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.novelties_of_books .cart .cost {
  font-size: 1.2rem;
  margin: 12px 0;
  color: rgb(255, 0, 0);
}
.novelties_of_books .cart .add_to_cart {
  font-size: 1.1rem;
  background: black;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
}

.footer {
  width: 1343px;
  min-height: 200px;
  margin: 0 auto;
  background: #ffffff;
}

.mailing-list {
  display: flex;
}
.mailing-list span {
  margin: 18px 0px 18px 20px;
}
.mailing-list span h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0px 0px 4px 0px;
}
.mailing-list span p {
  font-size: 18px;
}
.mailing-list form {
  margin: 18px 0px 18px 80px;
}
.mailing-list form .email-form, .mailing-list form .form-batton {
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  font-weight: bolder;
  border: 1px solid #afafaf;
  border-radius: 10px;
}
.mailing-list form .email-form {
  margin: 0px 12px 0px 0px;
  width: 500px;
  background: #F4F6F8;
}
.mailing-list form .form-batton {
  width: 180px;
  background: rgba(194, 141, 255, 0.8156862745);
}

.contact-info {
  display: flex;
  border-top: 4px solid #d1d1d1;
}
.contact-info .tell {
  width: 20%;
}
.contact-info .tell h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0px 6px 0px;
}
.contact-info .tell h3 {
  font-size: 16px;
  margin: 4px 0px 4px 20px;
}
.contact-info .tell h4 {
  font-size: 16px;
  margin: 6px 0px 16px 20px;
}
.contact-info .tell a {
  font-size: 18px;
  margin: 0px 0px 0px 20px;
}
.contact-info .address {
  width: 18%;
}
.contact-info .address h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0px 6px 0px;
}
.contact-info .address h2 {
  font-size: 16px;
  margin: 0px 0px 4px 20px;
}
.contact-info .delivery {
  width: 30%;
}
.contact-info .delivery h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0px 6px 0px;
}
.contact-info .delivery p {
  font-size: 16px;
  margin: 0px 0px 4px 20px;
}
.contact-info .description {
  width: 32%;
}
.contact-info .description h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0px 6px 0px;
}
.contact-info .description h2 {
  font-size: 16px;
  margin: 0px 20px 4px 20px;
}

.rights {
  border-top: 4px solid #d1d1d1;
}
.rights h1 {
  padding: 12px 0px 12px 20px;
}/*# sourceMappingURL=index.css.map */